.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-output {
  padding: 20px;
}

.App-output table {
  border-collapse: collapse;
  width: 100%;
}

.App .App-output table thead td {
  font-weight: bold;
  text-align: center;
}

.App .App-output table td {
  border: 1px solid black;
  text-align: left;
  padding: 3px;
}

.App .App-total, .App .App-tax {
  font-weight: bold;
  display: block;
  text-align: right;
  padding: 5px 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
